{% extends 'base.html' %}
{% block title %} Suspend Services {% endblock %}

{% block header %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}

    Hello Customer {{ user.username }}!
  <p>Would you like to temporarily suspend your services?</p>
  <form action="{% url 'customers:suspendpickup'%}" method ="post">
      {% csrf_token %}
      <label for="start">Start date:</label>
      <input type="date" id="start" name="start"
       value="2021-01-01"
       min="2021-01-01" max="2050-12-31">
      <label for="end">End date:</label>
    <input type="date" id="end" name="end"
       value="2021-01-10"
       min="2021-01-01" max="2050-12-31">
      <input type="submit" value="Submit">
  </form>
  {% else %}
    <p>You are not currently logged in, Please log in</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}